
.icon-button {
    background: transparent;
    display: flex !important;
    border: 0 !important;
    border-radius: 8px;
    margin-top: 8px !important;
}

.icon-button__label {
    flex-grow: 1;
    text-align: right;
}

.icon-button__icon {
    margin-left: 12px;
    margin-top: -2px;
}

.icon-button:hover {
    color: var(--blue800);
    fill: var(--blue800);
    background-color: var(--blue100);
}
